# 2023-08-25: AutoML Regression Experiments

## Authors

* Kevin Chu (kevin@velexi.com)

## Overview

This Jupyter notebook demonstrates the use of AutoML to quickly assess multiple common ML regression models for a toy problem. It is based on the tutorial provided by PyCaret at https://www.pycaret.org/tutorials/html/REG101.html.

## History

### 2023-08-25

- Initial version of notebook.

## Experimentation & Development

### Imports

In [1]:
# --- Imports

# External packages
from pycaret import regression
from pycaret.datasets import get_data

### Parameters

In [2]:
# Dataset
dataset_name = "diamond"

# AutoML
experiment_name = "automl-regression-test"
num_best_models = 7
random_seed = 123  # seed used for random number generators to ensure reproducibility of results in this notebook

### Prepare Data

In [3]:
# --- Load dataset

data_df = get_data('diamond')

# --- Check DataFrame

print(f"Number of records: {len(data_df.index)}")
print(f"Columns: {list(data_df.columns)}")

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

Number of records: 6000
Columns: ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price']

In [4]:
# --- Construct hold-out dataset

data_df = data_df.sample(frac=0.9, random_state=random_seed).reset_index(drop=True)
data_unseen_df = data_df.drop(data_df.index).reset_index(drop=True)

print('Data for Modeling: ' + str(data_df.shape))
print('Unseen Data For Evaluation of Tuned Model: ' + str(data_unseen_df.shape))

Data for Modeling: (5400, 8)
Unseen Data For Evaluation of Tuned Model: (0, 8)

### Perform AutoML Evaluation

In [5]:
# --- Perform AutoML Evaluation

# Set up the dataset for AutoML regression
regression.setup(data=data_df,
                 target="Price",
                 log_experiment=True,
                 experiment_name=experiment_name,
                 session_id=random_seed,
                ) 

# Automatically train, test, and evaluate models
best_models = regression.compare_models(n_select=num_best_models, verbose=False)

### Analyze Results

In [6]:
# Best models
for model in best_models:
    print(model)
    print()

ExtraTreesRegressor(n_jobs=-1, random_state=123)

RandomForestRegressor(n_jobs=-1, random_state=123)

GradientBoostingRegressor(random_state=123)

LGBMRegressor(n_jobs=-1, random_state=123)

DecisionTreeRegressor(random_state=123)

Ridge(random_state=123)

Lasso(random_state=123)

In [7]:
# Display score table
regression.pull()

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
et,Extra Trees Regressor,757.9822,2.272753e+06,1476.2494,0.9783,0.0798,0.0600,0.085
rf,Random Forest Regressor,763.1730,2.656370e+06,1582.1759,0.9747,0.0793,0.0592,0.072
gbr,Gradient Boosting Regressor,941.4675,3.516412e+06,1844.9039,0.9664,0.1026,0.0783,0.027
lightgbm,Light Gradient Boosting Machine,780.8216,3.561541e+06,1834.3033,0.9660,0.0788,0.0569,0.415
dt,Decision Tree Regressor,980.8632,4.869726e+06,2151.9240,0.9530,0.1046,0.0761,0.009
ridge,Ridge Regression,2416.2896,1.423390e+07,3757.7832,0.8622,0.6110,0.2797,0.011
lasso,Lasso Regression,2411.9718,1.424823e+07,3757.7641,0.8620,0.6103,0.2788,0.101
llar,Lasso Least Angle Regression,2411.9918,1.424821e+07,3757.7623,0.8620,0.6103,0.2788,0.009
br,Bayesian Ridge,2415.4019,1.426339e+07,3760.1952,0.8618,0.6133,0.2795,0.011
lr,Linear Regression,2532.9422,1.551599e+07,3908.8662,0.8494,0.6744,0.2940,0.148
huber,Huber Regressor,1966.7166,1.863894e+07,4290.2377,0.8205,0.4398,0.1676,0.012
par,Passive Aggressive Regressor,1981.5926,2.042586e+07,4485.4599,0.8038,0.4352,0.1609,0.012
ada,AdaBoost Regressor,4073.1029,2.386736e+07,4880.6750,0.7670,0.4729,0.5410,0.022
omp,Orthogonal Matching Pursuit,2819.9781,2.437499e+07,4898.3040,0.7654,0.5410,0.2714,0.009
knn,K Neighbors Regressor,3038.9909,3.052106e+07,5501.7838,0.7052,0.3733,0.2840,0.014
en,Elastic Net,5123.9485,5.715395e+07,7543.2370,0.4467,0.5410,0.5914,0.009
dummy,Dummy Regressor,7463.2078,1.033474e+08,10154.0187,-0.0037,0.7664,0.9127,0.009
lar,Least Angle Regression,3891.2376,2.939569e+08,8990.4486,-2.3060,0.7484,0.4733,0.010

### Tune Promising Models

In [8]:
# --- Extra Trees Regressor

et_model = regression.create_model('et')
et_model_tuned = regression.tune_model(et_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [9]:
# --- Random Forest Regressor

rf_model = regression.create_model('rf')
rf_model_tuned = regression.tune_model(rf_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
# --- Gradient Boosting Regressor

gbr_model = regression.create_model('gbr')
gbr_model_tuned = regression.tune_model(gbr_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits