## 2024 07/30 AutoML - Hawkeye Hands

*Last Updated*: 2024-07-14

### Authors
* Nicole Tin


### Overview
This Jupyter notebook is intended to demonstrate ...


### Key Results

- ...

In [1]:
# --- Imports
import shap
import pandas as pd

from pycaret import regression

# import mlflow # creates error

In [2]:
# Dataset
dataset_name = "hawkeye-hands"

# AutoML
experiment_name = "NT_hawkeye-hands-texture-paralleled"
num_best_models = 5
random_seed = 42

# Paths
root = '/Users/nicole/Documents/DermaML_local/hawkeye-hands-2024-07-29'
# src_dir = '/Users/nicole/Documents/DermaML_local/hawkeye-hands-2024-07-29/processed_images/'
features_dir =  '/Users/nicole/Documents/DermaML_local/hawkeye-hands-2024-07-29/features-2024-08-02/'

image_folder = '/processed_images/'
csv_file = '/metadata.csv'

In [3]:
# -- Read the CSV file
metadata = pd.read_csv(root+ csv_file)
metadata.loc[:, 'Age'] = 2024-metadata['birth_year']
valid_image_fnames_df = pd.DataFrame(metadata.set_index('Age').loc[:, ['right_hand_image_file', 'left_hand_image_file']].stack()).reset_index()
valid_image_fnames_df.columns = ['Age', 'handedness', 'filename']
valid_image_fnames_df.loc[:,'filename'] = valid_image_fnames_df['filename'].apply(lambda x: x[:-5])
valid_image_fnames = valid_image_fnames_df['filename'].to_numpy()

In [4]:
f_dermaml = pd.read_csv(features_dir+'2024-08-02_hawkeye-hands_dermaml-features.csv').drop(columns='Unnamed: 0')
f_pyfeats = pd.read_csv(features_dir+'2024-08-02_hawkeye-hands_pyfeats_textures.csv').drop(columns='Unnamed: 0')
f_redness = pd.read_csv(features_dir+'2024-08-02_hawkeye-hands-redness-features.csv').drop(columns='Unnamed: 0')
f_hessian = pd.read_csv(features_dir+'2024-08-02_hawkeye-hands-hessian-features.csv').drop(columns='Unnamed: 0')

F = f_redness.merge(f_hessian).merge(f_pyfeats).merge(f_dermaml)
F.loc[:,'filename'] = F['filename'].apply(lambda x:x[:-4])
X = F.join(valid_image_fnames_df.set_index('filename'), on='filename', how='inner').drop(columns=['handedness', 'filename'])

In [18]:
# X.to_csv('2024-08-01_NT_Hawkeye-Hands-Texture-Features.csv')
X['Age'].describe()

count    576.000000
mean      46.715278
std       49.094785
min        2.000000
25%       24.000000
50%       37.500000
75%       62.250000
max      789.000000
Name: Age, dtype: float64

In [20]:
metadata.columns

Index(['record_id', 'gender', 'gender_specify', 'birth_year',
       'sex_assigned_at_birth', 'sex_assigned_at_birth_specify',
       'race_ethnicity', 'race_ethnicity_specify', 'ethnicity', 'handedness',
       'occupation', 'driving_time', 'sun_exposure', 'sunscreen_use', 'region',
       'region_specify', 'left_hand_image_file', 'right_hand_image_file',
       'form_complete', 'Age'],
      dtype='object')

In [19]:
X.loc[X['Age'] > 90]

,relative_redness_mean,relative_redness_std,GLCM_ASM_Mean_wrinkles_pyfeats,GLCM_Contrast_Mean_wrinkles_pyfeats,GLCM_Correlation_Mean_wrinkles_pyfeats,GLCM_SumOfSquaresVariance_Mean_wrinkles_pyfeats,GLCM_InverseDifferenceMoment_Mean_wrinkles_pyfeats,GLCM_SumAverage_Mean_wrinkles_pyfeats,GLCM_SumVariance_Mean_wrinkles_pyfeats,GLCM_SumEntropy_Mean_wrinkles_pyfeats,...,lbp_6,lbp_7,lbp_8,lbp_9,lbp_10,contrast_scikit,correlation_scikit,energy_scikit,homogeneity_scikit,Age
12,45.761472,74.251101,0.005053,44.179798,0.992374,2919.330394,0.515174,75.757733,11633.141780,7.010151,...,0.026459,0.019170,0.019039,0.722254,0.054027,852.910688,0.665251,0.684187,0.771479,100
23,41.745221,73.108585,0.003979,39.400977,0.992857,2772.724436,0.488773,84.952849,11051.496767,7.377674,...,0.024249,0.017422,0.017461,0.750040,0.049403,215.609972,0.909477,0.718258,0.799049,94
26,72.279300,89.806733,0.002785,51.189502,0.984211,1637.536353,0.492339,102.058405,6498.955910,7.359470,...,0.037424,0.026578,0.027037,0.599443,0.080446,965.298797,0.663160,0.557946,0.666116,97
48,80.596506,93.017228,0.002590,51.768242,0.976571,1110.045211,0.465327,112.933012,4388.412603,7.247332,...,0.038045,0.028346,0.031433,0.566954,0.097762,801.308218,0.713006,0.525973,0.645630,97
58,57.095766,83.264957,0.007487,37.550273,0.994430,3398.627792,0.565898,74.528264,13556.960895,6.865657,...,0.030406,0.023078,0.023095,0.683914,0.062233,1259.991551,0.618019,0.628432,0.739906,95
60,73.113858,87.961526,0.005240,35.959542,0.992546,2434.794660,0.564429,77.070232,9703.219097,7.054377,...,0.039580,0.030017,0.028905,0.603177,0.076669,1266.642169,0.596163,0.538204,0.677351,93
65,68.742687,84.258527,0.002216,61.817465,0.983056,1839.210576,0.446278,101.550705,7295.024837,7.547696,...,0.036074,0.027750,0.030235,0.590488,0.090447,1009.333795,0.673358,0.543970,0.648858,91
95,79.869970,92.516396,0.002423,43.743032,0.974918,880.335014,0.435092,129.837847,3477.597025,7.173342,...,0.034356,0.028401,0.034781,0.569102,0.112920,841.644743,0.726070,0.524774,0.642992,91
98,46.085701,71.439711,0.004282,72.913873,0.991241,4171.648725,0.426064,115.862332,16613.681028,7.413607,...,0.027909,0.021835,0.024299,0.680092,0.072098,892.268286,0.805370,0.643743,0.720804,789
203,71.138928,82.589261,0.003773,45.152251,0.989009,2072.240195,0.493109,75.091198,8243.808527,7.216904,...,0.040414,0.029861,0.029224,0.577232,0.081449,1196.814056,0.579495,0.518865,0.645567,91
213,44.529666,74.933856,0.005234,40.176054,0.993248,3000.596135,0.529630,77.582882,11962.208485,6.991966,...,0.026006,0.018393,0.017917,0.735576,0.050352,901.940722,0.644531,0.698658,0.781452,100
264,62.014557,87.428448,0.005041,30.013946,0.994379,2687.894579,0.548682,74.327648,10721.564371,6.948696,...,0.032095,0.023500,0.023407,0.663590,0.065524,963.622147,0.659212,0.617223,0.731395,93
278,60.526108,86.598561,0.008137,57.014730,0.985992,2048.379941,0.644355,65.402852,8136.505033,6.777213,...,0.029683,0.024836,0.024585,0.696976,0.060918,874.348557,0.591864,0.631532,0.777208,91
329,76.694322,90.726110,0.002175,44.479459,0.982975,1319.369851,0.446831,123.841958,5232.999944,7.455731,...,0.035643,0.027976,0.032309,0.577315,0.102594,1010.983661,0.691578,0.533197,0.644795,91
334,44.018542,73.703244,0.004844,42.757542,0.993698,3401.334373,0.499801,84.137276,13562.579950,7.177471,...,0.025615,0.019044,0.019593,0.731000,0.054668,331.443229,0.886029,0.694887,0.781273,94
378,60.905452,87.007482,0.014452,30.072264,0.993275,2267.224655,0.694505,53.984036,9038.826355,6.317447,...,0.029722,0.025385,0.022911,0.718942,0.050183,1073.180927,0.498902,0.633005,0.789338,91
473,68.262898,92.646279,0.002862,55.352909,0.978246,1290.907527,0.439813,117.904984,5108.277199,7.001396,...,0.027347,0.022357,0.027890,0.644413,0.090687,1092.341667,0.613636,0.604698,0.696782,93
497,59.592494,83.451826,0.005733,33.573471,0.994187,2910.662981,0.543717,75.202778,11609.078452,7.023121,...,0.032059,0.023855,0.023823,0.664315,0.066873,1176.944462,0.617422,0.610855,0.725477,95
525,71.977548,87.068024,0.005608,38.699503,0.992865,2730.422629,0.559203,76.867730,10882.991011,7.096201,...,0.038492,0.029952,0.029876,0.604311,0.079975,1149.173830,0.661200,0.536920,0.681230,93
540,45.594491,74.290246,0.008256,24.635288,0.997608,5174.229678,0.526542,96.237697,20672.283426,6.895529,...,0.026045,0.020417,0.021918,0.714254,0.059585,975.402719,0.782064,0.670265,0.761941,789

1. engineered features only
2. + GLCM wrinkles
3. CNN

preliminary ML model; a lot more interesting things to do be done with features (collaboration) and model improvement;
- describe features
- share model results
- interpretation of graph

In [22]:
# --- Perform AutoML Evaluation

# Set up the dataset for AutoML regression
regression.setup(data=X,
                 target="Age",
                 log_experiment=True,
                 experiment_name=experiment_name,
                 session_id=random_seed,
                ) 

best_models = regression.compare_models(n_select=num_best_models, verbose=False)

In [23]:
regression.pull()

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
gbr,Gradient Boosting Regressor,1.066290e+01,1.454859e+03,2.234380e+01,6.404000e-01,0.3257,3.065000e-01,0.283
lightgbm,Light Gradient Boosting Machine,1.161990e+01,1.503886e+03,2.445290e+01,5.231000e-01,0.3677,3.507000e-01,0.264
ada,AdaBoost Regressor,1.418360e+01,1.508368e+03,2.496850e+01,4.922000e-01,0.4046,4.452000e-01,0.111
dt,Decision Tree Regressor,1.252840e+01,1.540850e+03,2.614060e+01,4.136000e-01,0.3909,2.958000e-01,0.024
et,Extra Trees Regressor,1.202820e+01,1.589911e+03,2.629800e+01,3.629000e-01,0.3407,3.081000e-01,0.207
rf,Random Forest Regressor,1.194990e+01,1.618763e+03,2.654320e+01,3.096000e-01,0.3512,3.390000e-01,0.511
ridge,Ridge Regression,1.686670e+01,1.740867e+03,2.925480e+01,1.846000e-01,0.5158,4.946000e-01,0.018
en,Elastic Net,1.718180e+01,1.732129e+03,2.943440e+01,1.670000e-01,0.4945,5.013000e-01,0.022
lasso,Lasso Regression,1.715700e+01,1.741041e+03,2.949670e+01,1.647000e-01,0.4935,5.001000e-01,0.020
omp,Orthogonal Matching Pursuit,1.862180e+01,1.736762e+03,2.980230e+01,1.587000e-01,0.5369,5.706000e-01,0.018
llar,Lasso Least Angle Regression,1.719080e+01,1.745905e+03,2.959700e+01,1.526000e-01,0.4993,5.015000e-01,0.021
br,Bayesian Ridge,1.815440e+01,1.752979e+03,3.002320e+01,1.441000e-01,0.4871,5.572000e-01,0.019
dummy,Dummy Regressor,2.134780e+01,1.884063e+03,3.223610e+01,-2.930000e-02,0.5527,6.601000e-01,0.015
lr,Linear Regression,1.831300e+01,1.816406e+03,3.259050e+01,-1.459000e-01,0.6698,5.159000e-01,0.909
huber,Huber Regressor,2.437060e+01,2.262405e+03,3.775450e+01,-5.649000e-01,0.6681,6.052000e-01,0.020
knn,K Neighbors Regressor,2.238650e+01,2.202710e+03,3.721360e+01,-6.866000e-01,0.5836,6.625000e-01,0.025
par,Passive Aggressive Regressor,3.793120e+01,3.832320e+03,5.519480e+01,-3.223800e+00,0.9718,1.147400e+00,0.018
lar,Least Angle Regression,1.376284e+18,1.409956e+37,1.650858e+18,-3.122369e+34,32.6095,3.763697e+16,0.023

In [16]:
dt = regression.create_model('dt')
regression.tune_model(dt, optimize='RMSE')
# final_model = regression.finalize_model(best_models[3])
regression.save_experiment('hawkeye-hands-texture-fraction')

Initiated  . . . . . . . . . . . . . . . . . .                 12:51:59
Status     . . . . . . . . . . . . . . . . . .      Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Decision Tree Regressor

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
tuned_models = [regression.tune_model(model, optimize='RMSE') for model in best_models]
ensem_models = [regression.ensemble_model(model, n_estimators=5, optimize='RMSE') for model in tuned_models]
tuned_blend = regression.blend_models(tuned_models, optimize='RMSE')
ensem_blend = regression.blend_models(ensem_models, optimize='RMSE')
model = regression.automl(optimize='RMSE')

Initiated  . . . . . . . . . . . . . . . . . .                     13:56:26
Status     . . . . . . . . . . . . . . . . . .         Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Regressor

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [15]:
model

GradientBoostingRegressor(random_state=42)

In [12]:
final_model = regression.finalize_model(model)
regression.save_model(final_model, 'hawkeye-hands-texture-fraction')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['relative_redness_mean',
                                              'relative_redness_std',
                                              'GLCM_ASM_Mean_wrinkles_pyfeats',
                                              'GLCM_Contrast_Mean_wrinkles_pyfeats',
                                              'GLCM_Correlation_Mean_wrinkles_pyfeats',
                                              'GLCM_SumOfSquaresVariance_Mean_wrinkles_pyfeats',
                                              'GLCM_InverseDifferenceMoment_Mean_wrinkles_pyf...
                                              'NGTDM_Coarseness_ngtdm',
                                              'NGTDM_Contrast_ngtdm',
                                              'NGTDM_Busyness_ngtdm',
                                              'NGTDM_Complexity_ngtdm',
                                              'NGTDM_Strngth_ngtdm',
                                              'LTE_LL_7_lte', 'LTE_EE_7_lte', ...],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('actual_estimator',
                  GradientBoostingRegressor(random_state=42))]),
 'hawkeye-hands-texture-fraction.pkl')

In [ ]:
saved_model = regression.load_model('hawkeye-hands-texture-fraction')